@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-accent: #706F6F;
  --color-base-100: #F3F3F3;
  --color-base-200: #E7E7E7;
}

.active {
  @apply bg-primary py-1 px-2 rounded-sm text-white
}
.font{
    font-family: "Alumni Sans SC", sans-serif;
}
*{
  font-family: "Roboto", sans-serif;
}

