@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";


@layer components {
  html[data-theme="light"] {
    --color-primary: #731c87;
    --color-secondary: #7C9E34;
  }
  html[data-theme="dark"] {
    --color-primary: #731c87;
    --color-secondary: #7C9E34;
  }
}


.active {
  @apply bg-primary py-1 px-2 rounded-full text-white
}
.font{
    font-family: "Alumni Sans SC", sans-serif;
}
*{
  font-family: "Roboto", sans-serif;
}

