@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #731c87;
  --color-secondary: #104220;
}


.active {
  @apply bg-primary py-1 px-2 rounded-sm text-white
}
.font{
    font-family: "Alumni Sans SC", sans-serif;
}
*{
  font-family: "Roboto", sans-serif;
}

